body {
    background-color: rgb(82, 86, 89);
}

.claro body {
    background-color: #fff;
}

canvas, .canvas-container {
    margin-bottom: 25px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.canvas-container {
    margin-left: auto;
    margin-right: auto;
}

.toolbar {
    width: 100%;
    background-color: rgb(50, 54, 57);
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
}

#editorContainer {
    margin-top: 60px;
    padding-left: 10px;
    text-align: center;
}

.claro #editorContainer {
    height: calc(100vh - 60px);
}

.claro .editorWrapper {
    background-color: #fff;
}

.claro .webodfeditor-toolbarcontainer {
    display: none;
}

.claro .webodfeditor-canvascontainer {
    top: 0;
}

.claro .webodfeditor-canvas {
  margin: 0;
  box-shadow: none;
}

.claro .webodfeditor-canvascontainer, .claro .webodfeditor-editor, .claro #annotationsPane,.claro .webodf-virtualSelections, .claro .webodfeditor-canvas {
    background-color: transparent !important;
    border: none !important;
}

button:focus {
    outline: 0;
}

.toolbar .tool {
    display: inline-block;
    color: #fff;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 5px;
}

.toolbar .tool label,
.toolbar .tool select,
.toolbar .tool input {
    display: inline-block;
    width: auto;
    height: auto !important;
    padding: 0;
    margin-left: 7px;

}

.toolbar .tool input {
    width: 50px;
}

.toolbar .tool .color-tool {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: 5px solid #000;
    background-color: unset;
    cursor: pointer;
    display: inline-block;
}

.toolbar .tool .tool-button {
    background-color: rgb(50, 54, 57);
    border: 1px solid rgb(50, 54, 57);
    color: #fff;
    cursor: pointer;
}

.toolbar .tool .tool-button:hover,
.toolbar .tool .tool-button.active {
    background-color: rgb(82, 86, 89);
    border-color: rgb(82, 86, 89);
}

.allTools {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1250px) {
    .allTools {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    .toolbar {
        height: 100px;
    }
    #editorContainer {
        margin-top: 110px;
    }
    #cceSpinner {
        margin-top: 180px;
    }
}

.margin-left-auto {
    margin-left: auto !important;
}

.margin-right-auto {
    margin-right: auto !important;
}

#cceSpinner {
    margin-top: 130px;
}

#docName {
    margin-left: 10px;
}

#docRenameDialog {
    display: none;
}

#docRename {
    min-width: 180px;
    max-width: 300px;
    border: 3px solid white;
    border-radius: 5px;
    padding-left: 5px;
    vertical-align: middle;
}

.popover .btn {
    padding: 5px 10px;
    margin: 0 7px;
}

#saveSendBtn {
    border: 0;
    opacity: 1;
}
