:root {
	--color-section: #222;
	--color-article: #111;
	--color-shadows: #000;
	--color-def-theme: #733;
	--color-text: #fff;
}
body {
	margin: 0;
	line-height: 1.6;
	overflow-x:hidden;
	background-color: var(--color-def-theme);
	font-family: Ubuntu, sans-serif;
	/* Quiz bg image */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
section {
	background-color: var(--color-section);
	color: var(--color-text);
	margin: auto;
	width: 70%;
	max-height: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 10px solid var(--color-text);
	border-radius: 6px;
	padding: 15px;
	overflow-y: auto;
}
section div {
	text-align: center;
}
article { /* Only here */
	background-color: var(--color-article);
	border: 1px solid var(--color-article);
	border-radius: 30px;
	margin: 10px;
	padding: 20px;
	box-shadow: 5px 5px 5px var(--color-shadows);
/*	width: 300px;*/
	float: left;
	display: grid;
	grid-template-columns: 50px auto 30px;
	grid-gap: 20px;
}
.cceDocUrl {
	grid-column: 1 / 4;
}
article img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
article h2 {
	margin: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	text-align: center;
	padding: 5px;
	border-radius: 1em;
	margin: auto auto 10px auto;
	max-width: 800px;
	overflow-wrap: break-word;
}
h1, h2 {
	text-align: center;
}
h2 {
	font-size: 21px; /* consider default sizing*/
}
p {
	text-align: center;
	font-size: 18px;
}
a {
	color: white; /* Only here */
}

/* Inputs and buttons */
button {
	border-radius: 1em;
	padding: 5px 10px;
	transition: all 0.5s ease;
	font-family: Ubuntu, sans-serif;
	cursor: pointer;
	margin-left: 10px;
}
input[type="radio"] { /* For core */
	display: none;
}
input[type='text'] { /* Conflict: qb */
	width: 600px;
	max-width: 90%;
}
textarea { /* For core */
	max-width: 95%;
	width: 90%;
	margin: 25px;
	height: 100px
}

/* Custom for pages */
#results ul {
	max-height: 60vh;
	transition: max-height .35s;
	overflow-y: auto;
}
#qbase li {
	background-color: #33d;
	transition: background-color 0.4s ease 0s;
	cursor: pointer;
}
#results li {
	border: 3px solid var(--color-text);
}
#qbase button { /* Conflict: create */
	color: white;
	border: none;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
	margin-bottom: 30px;
	background-color: #33d;
}
#qbase button:hover, #qbase li:hover {
	background-color: #55f;
}
#create button { /* Only here */
	color: black;
	border: 3px solid white;
	margin: 0 5px;
}
#create button:hover { /* Only here */
	color: white;
	background-color: rgba(0,0,0,0);
}
#privateToken { /* For core */
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 5px;
	max-width: 300px;
	text-align: center;
}



/* Media queries */
@media only screen and (max-width: 600px) {
	section {
		margin: 10px;
		min-height: calc(100vh - 50px);
		width: unset;
		max-height: unset;
		position: unset;
		transform: none;
		border: none;
	}
	#create button { /* Only here */
		width: 85%;
		margin-bottom: 7px;
	}
}
